body{
  margin: 0 auto;
}

.container{
  margin-left: -30px;
}

.btn-login{
  padding: 15px 60px;
  color: #fff;
  border-radius: 4px;
  background-color: #34aafc;
  border: none;
  border-bottom: 4px solid #34c8fc;
  margin-top:-120px;

}

.but{
  margin-top: -390px;
  margin-left: 600px;
  color: #53e3a6;
}
button{
	 outline: 0;
  border: 1px solid rgba(23, 32, 42,0.3);
	  color: #000000;
	  border-radius: 3px;
	  cursor: pointer;
  font-size: 20px;

}

a{
	 color: #000000;
	 
}
