
body{
	background-color: #58D68D;
}

form{
    padding: 50px 0px;
    position: relative;
    margin-top: 70px;
}

 form input
{
  outline: 0;
  border: 1px solid rgba(23, 32, 42,0.3);
  background-color: rgba(253, 254, 254,0.0);
  width: 250px;
  border-radius: 7px;
  padding: 8px 15px;
  margin: 10px auto 20px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: 300;
 
}

form label{
	color: white;
	margin-left: 50px;
}