body {
  margin: 0 auto;
  background-color: #53e3a6;
  background-repeat: no-repeat;
  background-size:100% 720px;

}
.container{
  width: 800px;
  height: 300px;
  text-align: center;
background-color: rgba(52, 73, 94,0.1);
border-radius: 4px;
  margin: 0 auto;
  margin-top: 150px;

}
h3{
  color: #fff;
  margin-left: -590px;
}
h6{
  color: #fff;
    margin-left: -10px;
}
